.about-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 6rem 7%;
  display: flex;
  gap: 15rem;
  .col1 {
    .heading-secondary {
      color: var(--Dark-Blue);
    }
    .paragraph {
      color: var(--DarkGrayish-Blue);
    }
  }
  .col2 .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .num-box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .heading-tertiary {
        margin-top: 1rem;
        color: var(--Dark-Blue);
      }

      .num {
        border: none;
        outline: none;
        background: var(--Bright-Red);
        padding: 1rem 2.5rem;
        border-radius: 2rem;
        color: var(--VaryLight-Gray);
        font-size: 1.6rem;
        margin-right: 2.5rem;
      }
    }
    .details {
      padding-left: 10rem;

      .paragraph {
        color: var(--DarkGrayish-Blue);
      }
    }
  }
}
