.cta-section {
  width: 100%;
  background: var(--Bright-Red);
  position: relative;
  overflow-y: hidden;

  .cta {
    max-width: 1440px;
    margin: 0 auto;
    padding: 6rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: var(--VaryLight-Gray);
      max-width: 450px;
    }
    .btn {
      background: var(--VaryLight-Gray);
      color: var(--Bright-Red);
      font-weight: 700;
      font-size: 1.4rem;
      &:hover {
        background: var(--VaryLight-Gray);
        color: var(--Bright-Red);
        opacity: 1;
      }
    }
  }
  .overlay {
    background: url(../images/bg-simplify-section-desktop.svg);
    background-position: bottom left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 85%;
    height: 240px;
    display: block;
    margin: 0 auto;
  }
}
