.footer-section {
  max-width: 100%;
  margin: 0 auto;
  background: var(--VeryDark-Blue);
  padding: 5rem 7%;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // height: 14rem;
    .col1 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 8rem;

      .icon-box svg {
        width: 2.5rem;
        margin-right: 1rem;

        &:last-child {
          margin: 0;
        }
      }
    }

    .col2 {
      display: flex;
      justify-content: space-between;
      gap: 18rem;
      .nav-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        a {
          font-size: 1.4rem;
          text-decoration: none;
          color: var(--VaryLight-Gray);
          margin-bottom: 2rem;
          &:hover {
            color: var(--Bright-Red);
          }
        }
      }
    }
    .col3 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: flex-start;
      gap: 8rem;

      .search-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        input[type="text"] {
          width: 75%;
          border-radius: 5rem;
          height: 4.5rem;
          border: none;
          outline: none;
          padding-left: 2rem;
          &::placeholder {
            color: var(--DarkGrayish-Blue);
          }
        }
        input[type="button"] {
          width: 25%;
          border: none;
          outline: none;
          background: var(--Bright-Red);
          padding: 1rem 2.5rem;
          border-radius: 2.5rem;
          color: var(--VaryLight-Gray);
          font-size: 1.6rem;
          height: 4.5rem;
          &:hover {
            opacity: 0.7;
            transition: all 0.3s linear;
          }
        }
      }
      .copyright {
        width: 100%;
        p {
          font-size: 1.2rem;
          color: var(--DarkGrayish-Blue);
          text-align: end;
        }
      }
    }
  }
}
