@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.rightBgPattern {
  background: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: -7%;
  right: -10.5%;
  z-index: -1;
  width: 55%;
  height: 715px;
  transform: rotate(180deg);
}

.leftBgPattern {
  background: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: 361px;
  left: -29%;
  z-index: -1;
  width: 45%;
  height: 550px;
}

.header {
  max-width: 144rem;
  margin: 0 auto;
  padding: 4rem 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  background-repeat: no-repeat;
  background-position: center;
  width: 15rem;
  height: 3rem;
}
.header .nav-menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-menus a {
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 1rem;
  color: var(--Dark-Blue);
  font-weight: 500;
  margin-right: 4rem;
}
.header .nav-menus a:last-child {
  margin-right: 0;
}
.header .nav-menus a:hover {
  color: var(--DarkGrayish-Blue);
  transition: all linear 0.3s;
}
.header .nav-mobile {
  display: none;
}
.header .hamburger {
  display: none;
}
.header .hamburger i {
  font-size: 4rem;
}

@media (max-width: 850px) {
  .header .nav-show {
    left: -100%;
  }
  .header .nav-mobile {
    z-index: 10;
    position: absolute;
    top: 14%;
    right: 8%;
    gap: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0deg, 0%, 98%);
    flex-direction: column;
    max-width: 85%;
    width: 100%;
    height: 33rem;
    transition: all 0.6s ease-in;
  }
  .header .nav-mobile a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--Dark-Blue);
    font-weight: 900;
  }
}
.hero-section {
  max-width: 144rem;
  margin: 0 auto;
  padding: 4rem 7%;
}
.hero-section .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.hero-section .hero .hero-description .text-box {
  max-width: 47rem;
}
.hero-section .hero .hero-description .text-box .heading-primary {
  color: var(--Dark-Blue);
}
.hero-section .hero .hero-description .text-box .paragraph {
  color: var(--DarkGrayish-Blue);
}
.hero-section .hero .hero-image img {
  width: 100%;
}

.about-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 6rem 7%;
  display: flex;
  gap: 15rem;
}
.about-section .col1 .heading-secondary {
  color: var(--Dark-Blue);
}
.about-section .col1 .paragraph {
  color: var(--DarkGrayish-Blue);
}
.about-section .col2 .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.about-section .col2 .row .num-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-section .col2 .row .num-box .heading-tertiary {
  margin-top: 1rem;
  color: var(--Dark-Blue);
}
.about-section .col2 .row .num-box .num {
  border: none;
  outline: none;
  background: var(--Bright-Red);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  color: var(--VaryLight-Gray);
  font-size: 1.6rem;
  margin-right: 2.5rem;
}
.about-section .col2 .row .details {
  padding-left: 10rem;
}
.about-section .col2 .row .details .paragraph {
  color: var(--DarkGrayish-Blue);
}

.cta-section {
  width: 100%;
  background: var(--Bright-Red);
  position: relative;
  overflow-y: hidden;
}
.cta-section .cta {
  max-width: 1440px;
  margin: 0 auto;
  padding: 6rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-section .cta h2 {
  color: var(--VaryLight-Gray);
  max-width: 450px;
}
.cta-section .cta .btn {
  background: var(--VaryLight-Gray);
  color: var(--Bright-Red);
  font-weight: 700;
  font-size: 1.4rem;
}
.cta-section .cta .btn:hover {
  background: var(--VaryLight-Gray);
  color: var(--Bright-Red);
  opacity: 1;
}
.cta-section .overlay {
  background: url(../images/bg-simplify-section-desktop.svg);
  background-position: bottom left;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 85%;
  height: 240px;
  display: block;
  margin: 0 auto;
}

.testimonial {
  max-width: 1440px;
  margin: 0 auto;
  padding: 8rem 0;
  text-align: center;
}
.testimonial .btn {
  margin-top: 6rem;
}
.testimonial .heading-secondary {
  color: var(--Dark-Blue);
  text-align: center;
}
.testimonial .testimonial-containner {
  width: 100%;
  padding: 50px 20px;
  margin-top: 7rem;
}
.testimonial .testimonial-containner .swiper-wrapper .testimonial-box {
  background: var(--VaryLight-Gray);
  text-align: center;
  padding: 1rem 2rem;
}
.testimonial .testimonial-containner .swiper-wrapper .testimonial-box img {
  margin-top: -5rem;
  width: 80px;
  height: 80px;
}
.testimonial .testimonial-containner .swiper-wrapper .testimonial-box h4 {
  color: var(--Dark-Blue);
  margin: 2rem 0;
}
.testimonial .testimonial-containner .swiper-wrapper .testimonial-box p {
  color: var(--DarkGrayish-Blue);
  font-size: 1.6rem;
}

.footer-section {
  max-width: 100%;
  margin: 0 auto;
  background: var(--VeryDark-Blue);
  padding: 5rem 7%;
}
.footer-section .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-section .footer .col1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8rem;
}
.footer-section .footer .col1 .icon-box svg {
  width: 2.5rem;
  margin-right: 1rem;
}
.footer-section .footer .col1 .icon-box svg:last-child {
  margin: 0;
}
.footer-section .footer .col2 {
  display: flex;
  justify-content: space-between;
  gap: 18rem;
}
.footer-section .footer .col2 .nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}
.footer-section .footer .col2 .nav-links a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--VaryLight-Gray);
  margin-bottom: 2rem;
}
.footer-section .footer .col2 .nav-links a:hover {
  color: var(--Bright-Red);
}
.footer-section .footer .col3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
}
.footer-section .footer .col3 .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footer-section .footer .col3 .search-box input[type=email] {
  width: 75%;
  border-radius: 5rem;
  height: 4.5rem;
  border: none;
  outline: none;
  padding-left: 2rem;
}
.footer-section .footer .col3 .search-box input[type=email]::-moz-placeholder {
  color: var(--DarkGrayish-Blue);
}
.footer-section .footer .col3 .search-box input[type=email]:-ms-input-placeholder {
  color: var(--DarkGrayish-Blue);
}
.footer-section .footer .col3 .search-box input[type=email]::placeholder {
  color: var(--DarkGrayish-Blue);
}
.footer-section .footer .col3 .search-box input[type=submit] {
  width: 25%;
  border: none;
  outline: none;
  background: var(--Bright-Red);
  padding: 1rem 2.5rem;
  border-radius: 2.5rem;
  color: var(--VaryLight-Gray);
  font-size: 1.6rem;
  height: 4.5rem;
}
.footer-section .footer .col3 .search-box input[type=submit]:hover {
  opacity: 0.7;
  transition: all 0.3s linear;
}
.footer-section .footer .col3 .copyright {
  width: 100%;
}
.footer-section .footer .col3 .copyright p {
  font-size: 1.2rem;
  color: var(--DarkGrayish-Blue);
  text-align: end;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

svg:hover {
  fill: var(--Bright-Red);
}

svg:hover path {
  fill: var(--Bright-Red);
}

:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --DarkGrayish-Blue: hsl(227, 12%, 61%);
  --VeryDark-Blue: hsl(233, 12%, 13%);
  --VeryPale-Red: hsl(13, 100%, 96%);
  --VaryLight-Gray: hsl(0, 0%, 98%);
}

.btn {
  font-size: 1.6rem;
  background-color: var(--Bright-Red);
  color: var(--VaryLight-Gray);
  border: none;
  outline: none;
  border-radius: 2.8rem;
  padding: 1.4rem 2.8rem;
  box-shadow: 1.5px 3px 8px var(--Bright-Red);
}
.btn:hover {
  transition: all linear 0.3s;
  opacity: 0.7;
}

.overlayBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(0.2px);
          backdrop-filter: blur(0.2px);
  z-index: 5;
}

.hidden {
  display: none;
}

.swiper-pagination-bullets {
  display: none;
}

@media (max-width: 1150px) {
  .header,
.hero-section,
.footer-section {
    padding: 4rem 4%;
  }
  .heading-primary {
    font-size: 4.8rem;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 850px) {
  .rightBgPattern {
    width: 73%;
    height: 665px;
  }
  .swiper-pagination-bullets {
    display: block;
  }
  .header .nav-menus,
.ctabtn {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .header,
.hero-section {
    padding: 4rem 7%;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .text-box {
    max-width: 68rem !important;
  }
  .about-section {
    flex-direction: column;
    gap: 3rem;
    max-width: 68rem;
    padding: 6rem 0;
  }
  .about-section .col2 .row .num-box {
    background: var(--VeryPale-Red);
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: start;
    width: 100%;
    border-radius: 2rem;
  }
  .about-section .col2 .row .num-box .num {
    margin-right: 1rem;
  }
  .about-section .col2 .row .num-box .heading-tertiary {
    margin-bottom: 0;
  }
  .about-section .col2 .row .details {
    padding-left: 0;
  }
  .about-section .col2 .row .details .heading-tertiary {
    margin-top: 0;
  }
  .cta {
    flex-direction: column;
    text-align: center;
  }
  .footer-section .footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
    align-items: center;
    padding: 0 12%;
  }
  .footer-section .footer .col1 {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .footer-section .footer .col1 .icon-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-section .footer .col1 .icon-box svg {
    width: 4rem;
  }
  .footer-section .footer .col2 {
    gap: 8rem;
    width: 100%;
  }
  .footer-section .footer .col3 {
    width: 100%;
  }
  .footer-section .footer .col3 .copyright p {
    text-align: center !important;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-secondary {
    font-size: 2.6rem;
  }
  .heading-tertiary {
    font-size: 1.6rem;
  }
  .paragraph {
    font-size: 1.5rem;
  }
  .header,
.hero-section,
.about-section {
    padding: 4rem 8%;
  }
  .rightBgPattern {
    right: -5.5%;
    width: 85%;
    height: 622px;
  }
  .hero {
    text-align: center;
  }
  .footer-section .footer {
    padding: 0 4%;
  }
  .footer-section .footer .col1 .icon-box svg {
    width: 10%;
  }
}
@media (max-width: 675px) {
  .about-section {
    padding: 6rem 6%;
  }
}/*# sourceMappingURL=style.css.map */